<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tablas</title>
</head>
<body>
    <header>
        <ul>
            <li> <a href="../index.html">Inicio</a> </li>
            <li> <a href="texto.html">Texto</a> </li>
            <li> <a href="media.html">Media</a> </li>
            <li> <a href="tabla.html">Tablas</a> </li>
            <li> <a href="formulario.html">Formularios</a> </li>
        </ul>
    </header>
    <main>
        <h1>Tablas</h1>
        <table>
            <tr>
                <td>#</td>
                <td>CÓDIGO</td>
                <td>ESTUDIANTE</td>
            </tr>
            <tr>
                <td>1</td>
                <td>AA24001</td>
                <td>Juan Camilo Ávalos Ávalos</td>
            </tr>
            <tr>
                <td>1</td>
                <td>AB24001</td>
                <td>Juan Camilo Ávalos Bastres</td>
            </tr>
            <tr>
                <td>1</td>
                <td>BB24001</td>
                <td>Juan Camilo Basres Barrera</td>
            </tr>
        </table>
        <br />

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>CÓDIGO</th>
                    <th>ESTUDIANTE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>AA24001</td>
                    <td>Juan Camilo Ávalos Ávalos</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>AB24001</td>
                    <td>Juan Camilo Ávalos Bastres</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BB24001</td>
                    <td>Juan Camilo Basres Barrera</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        Derechos reservados &copy; 2024
    </footer>


    <!--direccionamiento-->
    <!--<a href="../index.html">Inicio</a>-->
</body>
</html>